fastapi
uvicorn[standard]
sqlalchemy
pydantic
python-magic
google-cloud-vision>=3.0.0
Pillow>=9.0.0
opencv-python
numpy
mediapipe
passlib[bcrypt]
email-validator
python-jose[cryptography]
Werkzeug
slowapi
boto3
python-json-logger
sentry-sdk[fastapi]
python-multipart
limits>=1.6,<3.0 # Dependency for slowapi, good to make explicit
moto[s3,ses]==5.0.10 # For mocking AWS services like S3 and SES. Added specific extras and version.
python-dotenv